
<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= ticker.name %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div>
        <div class="text-sm font-medium text-gray-900"><%= ticker.currency %> to <%= ticker.fiat %></div>
        <div class="text-sm text-gray-500"><%= ticker.display_conversion %></div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= number_with_delimiter(ticker.circulating_supply) %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= number_with_delimiter(ticker.max_supply) %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= ticker.price %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= ticker.status.titleize %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
    <%= button_to ticker_path(ticker), method: :delete, class: 'block' do %>
      Delete
    <% end %>
  </td>
</tr>
